<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{{pathToCSS}}bootstrap.css"/>


    <title>{{title}}</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="#">
        <img class="" src="/img/simple-dark.png" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link {{#if home}}active{{/if}}" href="{{href.home.url}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if about}}active{{/if}}" href="{{href.about.url}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if commands}}active{{/if}}" href="{{href.commands.url}}">Commands</a>
          </li>
          <li class="nav-item dropdown disabled">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dashboard
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item {{#if dashboard_home}}active{{/if}}" href="{{href.dashboard.home.url}}">Home</a>
              <a class="dropdown-item {{#if dashboard_two}}" href="{{href.dashboard.two.url}}">Servers</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item {{#if dashboard_three}}" href="{{href.dashboard.three.url}}"><i>Other</i></a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <a class="btn btn-outline-dark my-2 my-sm-0" href="{{#if user.loggedin}}{{href.logout.url}}{{else}}{{href.login.url}}{{/if}}">{{#if user.loggedin}}Logout{{else}}Login{{/if}}</a>
        </form>
      </div>
    </nav>
    <div class="container">
      <br />
      {{#if config.down}}
        <div class="alert alert-danger" role="alert">
          Avaline is currently offline. We are working hard on the issue.
        </div>
      {{/if}}
      {{#if config.maintenance}}
        <div class="alert alert-info" role="alert">
          Avaline is currently offline due to maintenance. We are working quickly to include the new features and fixes. She shall be back online soon.
        </div>
      {{/if}}
      {{{body}}}
    </div>
    <hr class="my-4">
    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <img class="" src="/img/simple-dark.png" height="30" alt="">
          <br /><br />
          <p class="d-block mb-3 text-muted"><small>&copy; 2018</small></p>
          <p class="d-block mb-3 text-muted"><small>Avaline: {{config.version.bot}}</small><br/><small>Server: {{config.version.server}}</small></p>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Commands</a></li>
            <li><a class="text-muted" href="#">Music</a></li>
            <li><a class="text-muted" href="#">Moderation</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>