<%- include('../blocks/header', {active: "dashboard", bot, user, path}) %>
  <h2>Server Management</h2>
  <div class="row">
    <div class="col-sm-3">
      <%- include('../blocks/guild-card', {guild}) %>
    </div>
    <div class="col-sm">
      <%- include('../blocks/guild-nav.ejs', {active: "manage", guild}) %>
      <form method="post">
          <div class="form-group row">
        <% const settings = bot.settings.get(guild.id) ? bot.settings.get(guild.id) : {};
        console.log(settings);
          const defaults = bot.config.defaultSettings;
          for (const key in defaults) { 
              if (key in settings) { %>
            <label class="col-sm-3 col-form-label" for="<%= key %>">
              <%= defaults[key].name %>
            </label>
            <div class="col-sm-9">
              <% if (defaults[key].form.type == "radio") { %>
                <% defaults[key].form.options.forEach(function(option) {%>
                  <div class="form-check">
                  <input class="form-check-input" type="radio" name="<%= key %>" id="<%= key+option %>" value="<%= option %>"
                  <% if (option == settings[key].value) { %>checked<% }%> required>
                  <label class="form-check-label" for="<%= key+option %>"><%= option %></label>
                  </div>
                <% }) %>
                <% } else if (defaults[key].form.type == "channel") {
                  let obj = {};
                  let none = [];
                  for (let chnl of guild.channels.values()) {
                    if (chnl.type === "category") {
                      continue
                    }
                    let {parent} = chnl
                    if (parent) {
                      let arr = obj[parent] || []
                      arr.push(chnl)
                      obj[parent] = arr
                    } else {
                      none.push(chnl)
                    }
                  } %>
                  <select  name="<%= key %>" class="form-control" required>
                  <% Object.keys(obj).forEach(function(c) {%>
                    <optgroup label="<%= guild.channels.get(`${c.replace(/^\<#|\>$/g, '')}`).name %>">
                      <% if (obj.hasOwnProperty(c)) { %>
                        <% obj[c].forEach(function(cc) {%>
                          <option value="<%= cc.name %>" <% if ( cc.name == settings[key].value ) { %> selected <%}%>><%= cc.name %></option>
                      <% }); %>
                      <% }; %>
                    </optgroup>
                  <% }) %>
                  <optgroup label="Uncategorised">
                      <% none.forEach(function(cn) {%>
                        <option value="<%= cn.name %>" <% if ( cn.name == settings[key].value ) { %>selected<%}%>><%= cn.name %></option>
                        
                      <% }); %>
                    </optgroup>
                </select>
                <% } else if (defaults[key].form.type == "role") { %>
                  <select class="form-control" name="<%= key %>">
                  <% guild.roles.forEach(function(role) {%>
                    <option <% if (role.name == settings[key].value) { %>selected<% }%>><%= role.name %></option>
                  <% }) %>
                </select>
              <% } else { %>
              <input type="text" class="form-control" style="text-align: left;" name="<%= key %>" id="<%= key %>" value="<%= settings[key].value %>" required>
              <% } %>
              <small id="<%= key %>Help" class="form-text text-muted"><%= defaults[key].description %></small>
            </div>
          <% } else { %>
            <label class="col-sm-3 col-form-label" for="<%= key %>">
              <%= defaults[key].name %>
            </label>
            <div class="col-sm-9">
              <% if (defaults[key].form.type == "radio") { %>
                <% defaults[key].form.options.forEach(function(option) {%>
                  <div class="form-check">
                  <input class="form-check-input" type="radio" name="<%= key %>" id="<%= key+option %>" value="<%= option %>"
                  <% if (option == defaults[key].value) { %>checked<% }%> required>
                  <label class="form-check-label" for="<%= key+option %>"><%= option %></label>
                  </div>
                <% }) %>
                <% } else if (defaults[key].form.type == "channel") { %>
                  <%
                  let obj = {};
                  let none = [];
                  for (let chnl of guild.channels.values()) {
                    if (chnl.type === "category") {
                      continue
                    }
                    let {parent} = chnl
                    if (parent) {
                      let arr = obj[parent] || []
                      arr.push(chnl)
                      obj[parent] = arr
                    } else {
                      none.push(chnl)
                    }
                  } %>
                  <select name="<%= key %>" class="form-control" required>
                  <% Object.keys(obj).forEach(function(c) {%>
                    <optgroup label="<%= guild.channels.get(`${c.replace(/^\<#|\>$/g, '')}`).name %>">
                      <% if (obj.hasOwnProperty(c)) { %>
                        <% obj[c].forEach(function(cc) {%>
                        <option value="<%= cc.name %>" <% if ( cc.name == defaults[key].value ) { %> selected <%}%>><%= cc.name %></option>
                      <% }); %>
                      <% }; %>
                    </optgroup>
                  <% }); %>
                  <optgroup label="Uncategorised">
                    <% none.forEach(function(cn) {%>
                      <option value="<%= cn.name %>" <% if ( cn.name == defaults[key].value ) { %>selected<%}%>><%= cn.name %></option>
                      
                    <% }); %>
                  </optgroup>
                
                </select>
                <% } else if (defaults[key].form.type == "role") { %>
                  <select class="form-control" name="<%= key %>">
                  <% guild.roles.forEach(function(role) {%>
                    <option value="<%= role.name %>" <% if (role.name == defaults[key].value) { %>selected<% }%>><%= role.name %></option>
                  <% }) %>
                </select>
              <% } else { %>
              <input type="text" class="form-control" style="text-align: left;" name="<%= key %>" id="<%= key %>" value="<%= defaults[key].value %>" required>
              <% } %>
              <small id="<%= key %>Help" class="form-text text-muted"><%= defaults[key].description %></small>
            </div>
          
       
        <% }} %>
      </div>
        <div style="width: 100%; text-align: right; margin-top: 20px;">
          <a class="btn btn-danger text-white" data-toggle="modal" data-target="#settingsResetModal" role="button">Reset Defaults <i class="fa fa-fw fa-cogs" aria-hidden="true"></i></a>
          <button value="Submit" type="submit" class="btn btn-success">Save Changes <i class="fa fa-fw fa-save" aria-hidden="true"></i></button>
        </div>
      </form>
    </div>
  </div>
  <% include ../blocks/guild-modals %>
  <script type="text/javascript">
    var ts = parseInt($('#guildCreate').text());
    $('#guildCreate').html(`${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);
  </script>
<% include ../blocks/footer %>
